@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
/* Common styles for both modes */
body {
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark mode styles */
.dark {
    background-color: #1a202c;
    color: #ffffff;
}
